/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
body {
    min-height: 100vh;
    width: 100%;
    color: black; /* szövegszín */
    background-image: url("kepek/háttérkép.jpg"); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;

}
.fooldalheader{
  margin: auto;
  border: 1px solid rgb(22, 26, 35);
  width: 500px;
  background-color: rgb(30, 34, 43);
}
.cim{
  color: white;
  text-shadow: 2px 2px 4px black;
}
.navbar {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
  display: block;
  color: white ; 
  text-decoration: none; 
  
}

.navbar a {
  color: white ; 
  text-decoration: none; 
  text-shadow: 2px 2px 4px black;
  
}

.lap{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 70px;
    transform: translate(-50%,-50%);
    max-width: 1000px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding: 25px;
}

.profil_lap{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 225px;
  transform: translate(-50%,-50%);
  max-width: 1000px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  padding: 15px;
  text-align: center;
}

.profil_lap .kartya {
  padding: 2rem;
}

.profil_lap header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.profil_lap input[type="text"], .profil_lap input[type="password"], .profil_lap select, .profil_lap input[type="file"] {
  height: 40px;
  width: 50%;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
  text-align: center;
}

.profil_lap input[type="submit"] {
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: 0.4s;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
}

.profil_lap input[type="submit"]:hover {
  background: #006653;
}

.profilkep {
  width: 300px; /* Állítsd be a kívánt szélességet */
  height: auto; /* Az arányok megtartása érdekében */
  border-radius: 50%; /* Kerekített sarkok */
  margin-bottom: 1.5rem;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }
.container .kartya{
  padding: 2rem;
}
.kartya header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .kartya input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .kartya input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.kartya a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.kartya a:hover{
  text-decoration: underline;
}
.kartya input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.kartya input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}